<nav class='navbar navbar-default'>
  <div class="container">
    {{#link-to 'lots'}}<a class="navbar-brand">Pennybags</a>{{/link-to}}

    <ul class='nav navbar-nav navbar-list'>
      <li><a href="#">{{#link-to 'new-lot'}}Create Lot{{/link-to}}</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>

<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
